In [40]:
from pymongo import MongoClient
import pandas as pd
import os
import json
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from sklearn.cluster import KMeans

In [41]:
pip install sklearn

Requirement already satisfied: sklearn in c:\users\15125\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\15125\anaconda3\lib\site-packages (from sklearn) (0.24.2)
Requirement already satisfied: joblib>=0.11 in c:\users\15125\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\15125\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\15125\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.2.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\15125\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.7.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\15125\anaconda3\python.exe -m pip install --upgrade pip' command.

In [42]:
client = MongoClient(port=27017)
client = MongoClient("mongodb://localhost:27017/")
mydb = client["MemeStock"]

In [43]:
def CreateDataframeFromMongoDB(database,collection):
    mycollection = database[collection]
    allrecord = mycollection.find()
    df = pd.DataFrame(list(allrecord))
    return(df)

In [44]:
SPY_Hourly_df = CreateDataframeFromMongoDB(mydb,"table_spystock")
TslaTweet_df = CreateDataframeFromMongoDB(mydb,"table_TSLA")
TSLA_Hourly_df = CreateDataframeFromMongoDB(mydb,"table_tslastock")

In [45]:
TslaTweet_df= pd.read_csv(Path("resources","#TSLA_tweet_7days_prior_hist_2021_11_7_perhour.csv"))
SPY_Hourly_df= pd.read_csv(Path("resources","SPY_stock_hist_hourly_2021_11_7.csv"))
TSLA_Hourly_df= pd.read_csv(Path("resources","TSLA_stock_hist_hourly_2021_11_7.csv"))

In [46]:
# condense DFs to only columns that will be require 
TSLA_Hourly_df=TSLA_Hourly_df[["date_UTC","Percent_Day_Change","Volume"]]
TslaTweet_df=TslaTweet_df[["date_UTC","tweet_counts"]]
SPY_Hourly_df=SPY_Hourly_df[["date_UTC","Percent_Day_Change","Volume"]]

In [47]:
#rename Columns
TSLA_Hourly_df=TSLA_Hourly_df.rename(columns={'Percent_Day_Change': 'Percent_Day_Change_TSLA', 'Volume': 'Volume_TSLA'})
SPY_Hourly_df=SPY_Hourly_df.rename(columns={'Percent_Day_Change': 'Percent_Day_Change_SPY', 'Volume': 'Volume_SPY'})
#make all DFs match d type for date_UTC
TSLA_Hourly_df['date_UTC']=TSLA_Hourly_df['date_UTC'].astype({'date_UTC': 'datetime64[ns]'})
SPY_Hourly_df['date_UTC']=SPY_Hourly_df['date_UTC'].astype({'date_UTC': 'datetime64[ns]'})
TslaTweet_df['date_UTC']=TslaTweet_df['date_UTC'].astype({'date_UTC': 'datetime64[ns]'})

In [48]:

#create the 3 combine df to one DF, encoded our Y value
combined_all_df=TSLA_Hourly_df.merge(SPY_Hourly_df, how='left', on="date_UTC")
combined_all_df=combined_all_df.merge(TslaTweet_df, how='left', on="date_UTC")
combined_all_df=combined_all_df.dropna(axis=0, how='any')
combined_all_df["Percent_Day_Change_TSLA_encode"]=combined_all_df["Percent_Day_Change_TSLA"].apply(lambda row: 1 if row>0 else 0)
combined_all_df_encode=combined_all_df.drop(["Percent_Day_Change_TSLA"], axis = 1)
combined_all_df_encode=combined_all_df_encode.drop(["date_UTC"], axis = 1)

In [49]:
#create 2 new DFs to for more analysis
combined_TSLA_SPY_encode=combined_all_df_encode.drop(["tweet_counts"], axis = 1)
combined_TSLA_tweets_encode=combined_all_df_encode.drop(['Volume_SPY','Percent_Day_Change_SPY',"Volume_TSLA"], axis = 1)

In [50]:
combined_all_df.to_csv("resources/combined_all_df.csv")
combined_all_df_encode.to_csv("resources/combined_all_df_encode.csv")

In [51]:
#All data is in float, it can now be scaled
def logistical_model_report(dfencoded):
    data_scaler = StandardScaler()
    df = data_scaler.fit_transform(dfencoded)

    y = dfencoded["Percent_Day_Change_TSLA_encode"]
    X = dfencoded.drop(columns="Percent_Day_Change_TSLA_encode")


    #split data into train
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

    #create logistical reg. model
    classifier = LogisticRegression(solver='lbfgs', random_state=1)

    # Train the data
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    #results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
    #matrix = confusion_matrix(y_test, y_pred)
    report = classification_report(y_test, y_pred)
    return report

In [52]:
#All data is in float, it can now be scaled
def logistical_model_results(dfencoded):
    data_scaler = StandardScaler()
    df = data_scaler.fit_transform(dfencoded)

    y = dfencoded["Percent_Day_Change_TSLA_encode"]
    X = dfencoded.drop(columns="Percent_Day_Change_TSLA_encode")


    #split data into train
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

    #create logistical reg. model
    classifier = LogisticRegression(solver='lbfgs', random_state=1)

    # Train the data
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
    #matrix = confusion_matrix(y_test, y_pred)
    #report = classification_report(y_test, y_pred)
    return results

In [53]:
combined_all_log_mod_results=logistical_model_results(combined_all_df_encode)
combined_TSL_SPY_log_mod_results=logistical_model_results(combined_TSLA_SPY_encode)
combined_tweet_log_mod_results=logistical_model_results(combined_TSLA_tweets_encode)

In [54]:
combined_all_log_mod_report=logistical_model_report(combined_all_df_encode)
combined_TSL_SPY_log_mod_report=logistical_model_report(combined_TSLA_SPY_encode)
combined_tweet_log_mod_report=logistical_model_report(combined_TSLA_tweets_encode)

C:\Users\15125\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\15125\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\15125\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\15125\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\15125\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\15125\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [55]:
combined_all_log_mod_results

   Prediction  Actual
0           1       0
1           1       0
2           1       0
3           1       0
4           1       0
5           1       0
6           1       1
7           1       1
8           1       0

In [56]:
print(combined_all_log_mod_report)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         7
           1       0.22      1.00      0.36         2

    accuracy                           0.22         9
   macro avg       0.11      0.50      0.18         9
weighted avg       0.05      0.22      0.08         9

In [57]:
print(combined_TSL_SPY_log_mod_report)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         7
           1       0.22      1.00      0.36         2

    accuracy                           0.22         9
   macro avg       0.11      0.50      0.18         9
weighted avg       0.05      0.22      0.08         9

In [58]:
print(combined_tweet_log_mod_report)

              precision    recall  f1-score   support

           0       0.50      0.14      0.22         7
           1       0.14      0.50      0.22         2

    accuracy                           0.22         9
   macro avg       0.32      0.32      0.22         9
weighted avg       0.42      0.22      0.22         9

In [59]:
combined_all_df_encode

,Volume_TSLA,Percent_Day_Change_SPY,Volume_SPY,tweet_counts,Percent_Day_Change_TSLA_encode
14,14824885,-0.247726,13992445,22.0,0
15,7175951,0.043573,5841979,9.0,1
16,6567429,0.096896,3451053,12.0,1
17,7126538,-0.093542,3957074,27.0,1
18,5269389,-0.137178,3724726,31.0,0
19,5371085,0.170086,3669787,52.0,1
20,6931589,0.154558,8267663,83.0,1
21,20277111,0.217287,9882061,131.0,1
22,5034709,0.123587,5962493,99.0,0
23,3998159,-0.011910,5261373,237.0,0
24,3864811,-0.032494,3618503,242.0,1
25,1840610,0.001058,4870370,299.0,0
26,3826987,0.076927,4620265,425.0,1
27,3046783,0.015160,8284655,308.0,0
28,8041885,-0.008666,7128513,23.0,0
29,2548236,-0.014093,3168620,21.0,0
30,3836632,0.039028,2195879,24.0,0
31,3803781,-0.018421,1755537,22.0,1
32,2856812,0.229790,8598542,32.0,0
33,7777992,0.404186,11094897,40.0,1
34,3932824,0.105553,11300456,26.0,1
35,8598134,0.279358,9861088,15.0,0
36,3846857,-0.289279,7274648,8.0,0
37,3879996,0.132167,5452042,4.0,1
38,1960785,0.025752,3494109,11.0,0
39,2038975,-0.004289,6397705,10.0,0
40,2175368,0.000000,4923922,13.0,0
41,2221688,0.190994,8912364,13.0,1
42,6835874,0.147034,14141159,7.0,1
43,2512527,-0.076604,5333947,13.0,0
44,1479143,-0.021296,7350672,12.0,1
45,3527066,-0.545272,6648527,17.0,0
46,1685170,0.366227,7899098,12.0,1
47,2549845,-0.078977,4844305,24.0,0
48,2435693,0.049114,11268430,43.0,1

In [60]:
combined_TSLA_tweets_encode

    tweet_counts  Percent_Day_Change_TSLA_encode
14          22.0                               0
15           9.0                               1
16          12.0                               1
17          27.0                               1
18          31.0                               0
19          52.0                               1
20          83.0                               1
21         131.0                               1
22          99.0                               0
23         237.0                               0
24         242.0                               1
25         299.0                               0
26         425.0                               1
27         308.0                               0
28          23.0                               0
29          21.0                               0
30          24.0                               0
31          22.0                               1
32          32.0                               0
33          40.0                               1
34          26.0                               1
35          15.0                               0
36           8.0                               0
37           4.0                               1
38          11.0                               0
39          10.0                               0
40          13.0                               0
41          13.0                               1
42           7.0                               1
43          13.0                               0
44          12.0                               1
45          17.0                               0
46          12.0                               1
47          24.0                               0
48          43.0                               1