In [12]:
#make sure to install pip3 install twarc
import pandas as pd
from twarc import Twarc2
import json
import datetime
import time

In [13]:
#run the keys file that has all your keys and tokens
%run ./keys.ipynb

In [14]:
# bearer_token_ from your key should be your bearer_token
#client = Twarc2(CONSUMER_KEY, CONSUMER_SECRET, ACCESS_TOKEN, ACCESS_TOKEN_SECRET)
client = Twarc2(bearer_token= bearer_token_)
# Stock to query
query = "#TSLA"

In [15]:
#def for a function to get the latest tweet count from the previous 7 days saves it as a csv 
def tweetcount7days(query):
    # Get the recent Tweet counts using Twarc for your query by day
    search_results = client.counts_recent(query=query, granularity='day')

    day = []
    tweet_counts = []

    for page in search_results:
        # Get the data object from the Tweet counts response which contains the daily Tweet count
        data = page['data']
        break

    for d in data:
        # extract the date and hour of tweet
        day.append(d['start'][:10])
        # get daily Tweet counts
        tweet_counts.append(d['tweet_count'])
    df = pd.DataFrame(list(zip(day, tweet_counts)), columns =['day', 'tweet_counts'])
    
    #create a data string for date stamp
    today = datetime.date.today()
    year=2000+int(today.strftime("%y"))
    month=int(today.strftime("%m"))
    day=int(today.strftime("%d"))
    today_string=f'{year}_{month}_{day}'

    #create name for output file 
    output_data_file = f'resources/{query}_tweet_7days_prior_hist_{today_string}.csv'
    # Export the City_Data into a CSV.
    df.to_csv(output_data_file)
    return df

In [16]:
#def for a function to get the latest tweet count from the previous 7 days per hour and saves it as a csv 
def tweetcount7days_perhour(query):
    # Get the recent Tweet counts using Twarc for your query by day
    search_results = client.counts_recent(query=query, granularity='hour')

    day = []
    tweet_counts = []
    hour=[]

    for page in search_results:
        # Get the data object from the Tweet counts response which contains the daily Tweet count
        data = page['data']
        break

    for d in data:
        # extract the date and hour of tweet
        day.append(d['start'][:10])
        hour.append(d['end'][11:13])
        # Add the daily Tweet counts to display on the y-axis
        tweet_counts.append(d['tweet_count'])
    df = pd.DataFrame(list(zip(day, hour, tweet_counts)), columns =['day', 'hour','tweet_counts'])
    df["hour"]=df["hour"].astype('timedelta64[h]')
    df["day"]=df["day"].astype({'day': 'datetime64[ns]'})
    df["date_UTC"]=df["day"]+df["hour"]
    
    #create a data string for date stamp
    today = datetime.date.today()
    year=2000+int(today.strftime("%y"))
    month=int(today.strftime("%m"))
    day=int(today.strftime("%d"))
    today_string=f'{year}_{month}_{day}'

    #create name for output file 
    output_data_file = f'resources/{query}_tweet_7days_prior_hist_{today_string}_perhour.csv'
    # Export the City_Data into a CSV.
    df.to_csv(output_data_file)
    return df

In [17]:
TSLA_tweet_df=tweetcount7days("#TSLA")
TSLA_tweet_df

          day  tweet_counts
0  2021-11-08          1002
1  2021-11-09           882
2  2021-11-10           943
3  2021-11-11           738
4  2021-11-12           860
5  2021-11-13           523
6  2021-11-14           514
7  2021-11-15            80

In [18]:
TSLA_tweet_hourly_df=tweetcount7days_perhour("#TSLA")
TSLA_tweet_hourly_df

           day            hour  tweet_counts            date_UTC
0   2021-11-08 0 days 03:00:00            18 2021-11-08 03:00:00
1   2021-11-08 0 days 04:00:00            30 2021-11-08 04:00:00
2   2021-11-08 0 days 05:00:00            28 2021-11-08 05:00:00
3   2021-11-08 0 days 06:00:00            28 2021-11-08 06:00:00
4   2021-11-08 0 days 07:00:00            35 2021-11-08 07:00:00
..         ...             ...           ...                 ...
164 2021-11-14 0 days 23:00:00            24 2021-11-14 23:00:00
165 2021-11-14 0 days 00:00:00            28 2021-11-14 00:00:00
166 2021-11-15 0 days 01:00:00            32 2021-11-15 01:00:00
167 2021-11-15 0 days 02:00:00            27 2021-11-15 02:00:00
168 2021-11-15 0 days 02:00:00            21 2021-11-15 02:00:00

[169 rows x 4 columns]