In [4]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [5]:
#Load data
SPY_stock_hist_hourly_2021_11_7_df = pd.read_csv(Path('Resources/SPY_stock_hist_hourly_2021_11_7.csv'))
SPY_stock_hist_hourly_2021_11_7_df.head()

,Unnamed: 0,Unnamed: 0.1,Open,High,Low,Close,Adj Close,Volume,Percent_Day_Change,date_UTC
0,0,2021-10-28 09:30:00-04:00,455.899994,457.125000,455.680115,457.059998,457.059998,9880982,0.254443,2021-10-28 14:00:00
1,1,2021-10-28 10:30:00-04:00,457.070007,457.976013,457.000000,457.519989,457.519989,5874814,0.098449,2021-10-28 15:00:00
2,2,2021-10-28 11:30:00-04:00,457.529999,457.950012,456.859985,457.299988,457.299988,4100046,-0.050272,2021-10-28 16:00:00
3,3,2021-10-28 12:30:00-04:00,457.304993,457.429993,456.500000,457.049988,457.049988,3684041,-0.055763,2021-10-28 17:00:00
4,4,2021-10-28 13:30:00-04:00,457.059998,457.869995,457.052490,457.779999,457.779999,7065893,0.157529,2021-10-28 18:00:00

In [6]:
#Load data
TSLA_tweet_7days_prior_hist_2021_11_7_perhour_df = pd.read_csv(Path('Resources/#TSLA_tweet_7days_prior_hist_2021_11_7_perhour.csv'))
TSLA_tweet_7days_prior_hist_2021_11_7_perhour_df.head()

   Unnamed: 0  Unnamed: 0.1  tweet_counts             date_UTC
0           0             0            22  2021-10-31 18:00:00
1           1             1            30  2021-10-31 19:00:00
2           2             2            16  2021-10-31 20:00:00
3           3             3            34  2021-10-31 21:00:00
4           4             4            93  2021-10-31 22:00:00

In [7]:
#Load data
TSLA_stock_hist_hourly_2021_11_7_df = pd.read_csv(Path('Resources/TSLA_stock_hist_hourly_2021_11_7.csv'))
TSLA_stock_hist_hourly_2021_11_7_df.head()

,Unnamed: 0,Unnamed: 0.1,Open,High,Low,Close,Adj Close,Volume,Percent_Day_Change,date_UTC
0,0,2021-10-28 09:30:00-04:00,1068.305054,1081.000000,1055.209961,1060.359985,1060.359985,8788599,-0.743708,2021-10-28 14:00:00
1,1,2021-10-28 10:30:00-04:00,1060.180054,1077.464966,1058.890015,1070.250732,1070.250732,4857422,0.949903,2021-10-28 15:00:00
2,2,2021-10-28 11:30:00-04:00,1070.839844,1079.689941,1064.349976,1076.380005,1076.380005,3591916,0.517366,2021-10-28 16:00:00
3,3,2021-10-28 12:30:00-04:00,1076.949951,1079.649902,1066.000000,1073.175049,1073.175049,3328912,-0.350518,2021-10-28 17:00:00
4,4,2021-10-28 13:30:00-04:00,1073.250000,1074.030029,1067.589966,1072.910034,1072.910034,1543551,-0.031676,2021-10-28 18:00:00

In [8]:
TSLA_stock_hist_hourly_2021_11_7_df["date_UTC"].astype({'date_UTC': 'datetime64[ns]'})

0    2021-10-28 14:00:00
1    2021-10-28 15:00:00
2    2021-10-28 16:00:00
3    2021-10-28 17:00:00
4    2021-10-28 18:00:00
5    2021-10-28 19:00:00
6    2021-10-28 20:00:00
7    2021-10-29 14:00:00
8    2021-10-29 15:00:00
9    2021-10-29 16:00:00
10   2021-10-29 17:00:00
11   2021-10-29 18:00:00
12   2021-10-29 19:00:00
13   2021-10-29 20:00:00
14   2021-11-01 14:00:00
15   2021-11-01 15:00:00
16   2021-11-01 16:00:00
17   2021-11-01 17:00:00
18   2021-11-01 18:00:00
19   2021-11-01 19:00:00
20   2021-11-01 20:00:00
21   2021-11-02 14:00:00
22   2021-11-02 15:00:00
23   2021-11-02 16:00:00
24   2021-11-02 17:00:00
25   2021-11-02 18:00:00
26   2021-11-02 19:00:00
27   2021-11-02 20:00:00
28   2021-11-03 14:00:00
29   2021-11-03 15:00:00
30   2021-11-03 16:00:00
31   2021-11-03 17:00:00
32   2021-11-03 18:00:00
33   2021-11-03 19:00:00
34   2021-11-03 20:00:00
35   2021-11-04 14:00:00
36   2021-11-04 15:00:00
37   2021-11-04 16:00:00
38   2021-11-04 17:00:00
39   2021-11-04 18:00:00
40   2021-11-04 19:00:00
41   2021-11-04 20:00:00
42   2021-11-05 14:00:00
43   2021-11-05 15:00:00
44   2021-11-05 16:00:00
45   2021-11-05 17:00:00
46   2021-11-05 18:00:00
47   2021-11-05 19:00:00
48   2021-11-05 20:00:00
Name: date_UTC, dtype: datetime64[ns]

In [37]:
SPY_stock_hist_hourly_2021_11_7_df["date_UTC"].astype({'date_UTC': 'datetime64[ns]'})

0    2021-10-28 14:00:00
1    2021-10-28 15:00:00
2    2021-10-28 16:00:00
3    2021-10-28 17:00:00
4    2021-10-28 18:00:00
5    2021-10-28 19:00:00
6    2021-10-28 20:00:00
7    2021-10-29 14:00:00
8    2021-10-29 15:00:00
9    2021-10-29 16:00:00
10   2021-10-29 17:00:00
11   2021-10-29 18:00:00
12   2021-10-29 19:00:00
13   2021-10-29 20:00:00
14   2021-11-01 14:00:00
15   2021-11-01 15:00:00
16   2021-11-01 16:00:00
17   2021-11-01 17:00:00
18   2021-11-01 18:00:00
19   2021-11-01 19:00:00
20   2021-11-01 20:00:00
21   2021-11-02 14:00:00
22   2021-11-02 15:00:00
23   2021-11-02 16:00:00
24   2021-11-02 17:00:00
25   2021-11-02 18:00:00
26   2021-11-02 19:00:00
27   2021-11-02 20:00:00
28   2021-11-03 14:00:00
29   2021-11-03 15:00:00
30   2021-11-03 16:00:00
31   2021-11-03 17:00:00
32   2021-11-03 18:00:00
33   2021-11-03 19:00:00
34   2021-11-03 20:00:00
35   2021-11-04 14:00:00
36   2021-11-04 15:00:00
37   2021-11-04 16:00:00
38   2021-11-04 17:00:00
39   2021-11-04 18:00:00
40   2021-11-04 19:00:00
41   2021-11-04 20:00:00
42   2021-11-05 14:00:00
43   2021-11-05 15:00:00
44   2021-11-05 16:00:00
45   2021-11-05 17:00:00
46   2021-11-05 18:00:00
47   2021-11-05 19:00:00
48   2021-11-05 20:00:00
Name: date_UTC, dtype: datetime64[ns]

In [38]:
TSLA_tweet_7days_prior_hist_2021_11_7_perhour_df["date_UTC"].astype({'date_UTC': 'datetime64[ns]'})

0     2021-10-31 18:00:00
1     2021-10-31 19:00:00
2     2021-10-31 20:00:00
3     2021-10-31 21:00:00
4     2021-10-31 22:00:00
              ...
164   2021-11-07 14:00:00
165   2021-11-07 15:00:00
166   2021-11-07 16:00:00
167   2021-11-07 17:00:00
168   2021-11-07 17:00:00
Name: date_UTC, Length: 169, dtype: datetime64[ns]

In [39]:
# Determine if there are any missing values in the school data.
SPY_stock_hist_hourly_2021_11_7_df.count()

Unnamed: 0            49
Unnamed: 0.1          49
Open                  49
High                  49
Low                   49
Close                 49
Adj Close             49
Volume                49
Percent_Day_Change    49
date_UTC              49
dtype: int64

In [40]:
# Determine if there are any missing values in the school data.
TSLA_stock_hist_hourly_2021_11_7_df.count()

Unnamed: 0            49
Unnamed: 0.1          49
Open                  49
High                  49
Low                   49
Close                 49
Adj Close             49
Volume                49
Percent_Day_Change    49
date_UTC              49
dtype: int64

In [41]:
# Determine if there are any missing values in the school data.
TSLA_tweet_7days_prior_hist_2021_11_7_perhour_df.count()

Unnamed: 0      169
Unnamed: 0.1    169
tweet_counts    169
date_UTC        169
dtype: int64

In [42]:
# Determine if there are any missing values in the school data.
SPY_stock_hist_hourly_2021_11_7_df.isnull()

,Unnamed: 0,Unnamed: 0.1,Open,High,Low,Close,Adj Close,Volume,Percent_Day_Change,date_UTC
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False,False

In [43]:
TSLA_stock_hist_hourly_2021_11_7_df.isnull()

,Unnamed: 0,Unnamed: 0.1,Open,High,Low,Close,Adj Close,Volume,Percent_Day_Change,date_UTC
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False,False

In [44]:
TSLA_tweet_7days_prior_hist_2021_11_7_perhour_df.isnull()

     Unnamed: 0  Unnamed: 0.1  tweet_counts  date_UTC
0         False         False         False     False
1         False         False         False     False
2         False         False         False     False
3         False         False         False     False
4         False         False         False     False
..          ...           ...           ...       ...
164       False         False         False     False
165       False         False         False     False
166       False         False         False     False
167       False         False         False     False
168       False         False         False     False

[169 rows x 4 columns]

In [45]:
SPY_stock_hist_hourly_2021_11_7_df.isnull().sum()

Unnamed: 0            0
Unnamed: 0.1          0
Open                  0
High                  0
Low                   0
Close                 0
Adj Close             0
Volume                0
Percent_Day_Change    0
date_UTC              0
dtype: int64

In [46]:
TSLA_tweet_7days_prior_hist_2021_11_7_perhour_df.isnull().sum()

Unnamed: 0      0
Unnamed: 0.1    0
tweet_counts    0
date_UTC        0
dtype: int64

In [47]:
TSLA_stock_hist_hourly_2021_11_7_df.isnull().sum()

Unnamed: 0            0
Unnamed: 0.1          0
Open                  0
High                  0
Low                   0
Close                 0
Adj Close             0
Volume                0
Percent_Day_Change    0
date_UTC              0
dtype: int64

In [48]:
# Determine the school type.
tweet_counts = TSLA_tweet_7days_prior_hist_2021_11_7_perhour_df.set_index(["date_UTC"])["tweet_counts"]
tweet_counts

date_UTC
2021-10-31 18:00:00    22
2021-10-31 19:00:00    30
2021-10-31 20:00:00    16
2021-10-31 21:00:00    34
2021-10-31 22:00:00    93
                       ..
2021-11-07 14:00:00    30
2021-11-07 15:00:00    57
2021-11-07 16:00:00    36
2021-11-07 17:00:00    27
2021-11-07 17:00:00     1
Name: tweet_counts, Length: 169, dtype: int64

In [49]:
tsla_percent = TSLA_stock_hist_hourly_2021_11_7_df.set_index(["date_UTC"])["Percent_Day_Change"]
tsla_percent

date_UTC
2021-10-28 14:00:00   -0.743708
2021-10-28 15:00:00    0.949903
2021-10-28 16:00:00    0.517366
2021-10-28 17:00:00   -0.350518
2021-10-28 18:00:00   -0.031676
2021-10-28 19:00:00   -0.264277
2021-10-28 20:00:00    0.685840
2021-10-29 14:00:00    0.776865
2021-10-29 15:00:00    0.241562
2021-10-29 16:00:00    0.091629
2021-10-29 17:00:00    0.875232
2021-10-29 18:00:00   -0.469449
2021-10-29 19:00:00    0.354217
2021-10-29 20:00:00    1.240314
2021-11-01 14:00:00   -0.841486
2021-11-01 15:00:00    2.296756
2021-11-01 16:00:00    0.757828
2021-11-01 17:00:00    0.190653
2021-11-01 18:00:00   -0.455473
2021-11-01 19:00:00    2.059181
2021-11-01 20:00:00    1.550806
2021-11-02 14:00:00    3.952108
2021-11-02 15:00:00   -2.082436
2021-11-02 16:00:00   -1.228813
2021-11-02 17:00:00    0.299883
2021-11-02 18:00:00   -0.087912
2021-11-02 19:00:00    1.278729
2021-11-02 20:00:00   -0.690680
2021-11-03 14:00:00   -0.023659
2021-11-03 15:00:00   -0.779993
2021-11-03 16:00:00   -0.255258
2021-11-03 17:00:00    0.584363
2021-11-03 18:00:00   -0.244188
2021-11-03 19:00:00    2.017892
2021-11-03 20:00:00    1.313324
2021-11-04 14:00:00   -0.138821
2021-11-04 15:00:00   -0.415375
2021-11-04 16:00:00    0.905898
2021-11-04 17:00:00   -0.290539
2021-11-04 18:00:00   -0.016183
2021-11-04 19:00:00   -0.594017
2021-11-04 20:00:00    0.100121
2021-11-05 14:00:00    0.240224
2021-11-05 15:00:00   -0.150284
2021-11-05 16:00:00    0.426359
2021-11-05 17:00:00   -0.900542
2021-11-05 18:00:00    0.502862
2021-11-05 19:00:00   -0.657377
2021-11-05 20:00:00    0.031981
Name: Percent_Day_Change, dtype: float64

In [50]:
spy_percent = SPY_stock_hist_hourly_2021_11_7_df.set_index(["date_UTC"])["Percent_Day_Change"]
spy_percent

date_UTC
2021-10-28 14:00:00    0.254443
2021-10-28 15:00:00    0.098449
2021-10-28 16:00:00   -0.050272
2021-10-28 17:00:00   -0.055763
2021-10-28 18:00:00    0.157529
2021-10-28 19:00:00   -0.117962
2021-10-28 20:00:00    0.225269
2021-10-29 14:00:00    0.190843
2021-10-29 15:00:00    0.282420
2021-10-29 16:00:00    0.237971
2021-10-29 17:00:00   -0.063163
2021-10-29 18:00:00   -0.224469
2021-10-29 19:00:00    0.016384
2021-10-29 20:00:00    0.288274
2021-11-01 14:00:00   -0.247726
2021-11-01 15:00:00    0.043573
2021-11-01 16:00:00    0.096896
2021-11-01 17:00:00   -0.093542
2021-11-01 18:00:00   -0.137178
2021-11-01 19:00:00    0.170086
2021-11-01 20:00:00    0.154558
2021-11-02 14:00:00    0.217287
2021-11-02 15:00:00    0.123587
2021-11-02 16:00:00   -0.011910
2021-11-02 17:00:00   -0.032494
2021-11-02 18:00:00    0.001058
2021-11-02 19:00:00    0.076927
2021-11-02 20:00:00    0.015160
2021-11-03 14:00:00   -0.008666
2021-11-03 15:00:00   -0.014093
2021-11-03 16:00:00    0.039028
2021-11-03 17:00:00   -0.018421
2021-11-03 18:00:00    0.229790
2021-11-03 19:00:00    0.404186
2021-11-03 20:00:00    0.105553
2021-11-04 14:00:00    0.279358
2021-11-04 15:00:00   -0.289279
2021-11-04 16:00:00    0.132167
2021-11-04 17:00:00    0.025752
2021-11-04 18:00:00   -0.004289
2021-11-04 19:00:00    0.000000
2021-11-04 20:00:00    0.190994
2021-11-05 14:00:00    0.147034
2021-11-05 15:00:00   -0.076604
2021-11-05 16:00:00   -0.021296
2021-11-05 17:00:00   -0.545272
2021-11-05 18:00:00    0.366227
2021-11-05 19:00:00   -0.078977
2021-11-05 20:00:00    0.049114
Name: Percent_Day_Change, dtype: float64

In [51]:
# Add the per_school_types into a DataFrame for testing.
tweet_counts_df = pd.DataFrame(tweet_counts)
tweet_counts_df

                     tweet_counts
date_UTC
2021-10-31 18:00:00            22
2021-10-31 19:00:00            30
2021-10-31 20:00:00            16
2021-10-31 21:00:00            34
2021-10-31 22:00:00            93
...                           ...
2021-11-07 14:00:00            30
2021-11-07 15:00:00            57
2021-11-07 16:00:00            36
2021-11-07 17:00:00            27
2021-11-07 17:00:00             1

[169 rows x 1 columns]

In [52]:
spy_percent_df = pd.DataFrame(spy_percent)
spy_percent_df

                     Percent_Day_Change
date_UTC
2021-10-28 14:00:00            0.254443
2021-10-28 15:00:00            0.098449
2021-10-28 16:00:00           -0.050272
2021-10-28 17:00:00           -0.055763
2021-10-28 18:00:00            0.157529
2021-10-28 19:00:00           -0.117962
2021-10-28 20:00:00            0.225269
2021-10-29 14:00:00            0.190843
2021-10-29 15:00:00            0.282420
2021-10-29 16:00:00            0.237971
2021-10-29 17:00:00           -0.063163
2021-10-29 18:00:00           -0.224469
2021-10-29 19:00:00            0.016384
2021-10-29 20:00:00            0.288274
2021-11-01 14:00:00           -0.247726
2021-11-01 15:00:00            0.043573
2021-11-01 16:00:00            0.096896
2021-11-01 17:00:00           -0.093542
2021-11-01 18:00:00           -0.137178
2021-11-01 19:00:00            0.170086
2021-11-01 20:00:00            0.154558
2021-11-02 14:00:00            0.217287
2021-11-02 15:00:00            0.123587
2021-11-02 16:00:00           -0.011910
2021-11-02 17:00:00           -0.032494
2021-11-02 18:00:00            0.001058
2021-11-02 19:00:00            0.076927
2021-11-02 20:00:00            0.015160
2021-11-03 14:00:00           -0.008666
2021-11-03 15:00:00           -0.014093
2021-11-03 16:00:00            0.039028
2021-11-03 17:00:00           -0.018421
2021-11-03 18:00:00            0.229790
2021-11-03 19:00:00            0.404186
2021-11-03 20:00:00            0.105553
2021-11-04 14:00:00            0.279358
2021-11-04 15:00:00           -0.289279
2021-11-04 16:00:00            0.132167
2021-11-04 17:00:00            0.025752
2021-11-04 18:00:00           -0.004289
2021-11-04 19:00:00            0.000000
2021-11-04 20:00:00            0.190994
2021-11-05 14:00:00            0.147034
2021-11-05 15:00:00           -0.076604
2021-11-05 16:00:00           -0.021296
2021-11-05 17:00:00           -0.545272
2021-11-05 18:00:00            0.366227
2021-11-05 19:00:00           -0.078977
2021-11-05 20:00:00            0.049114

In [53]:
tsla_percent_df = pd.DataFrame(tsla_percent)
tsla_percent_df

                     Percent_Day_Change
date_UTC
2021-10-28 14:00:00           -0.743708
2021-10-28 15:00:00            0.949903
2021-10-28 16:00:00            0.517366
2021-10-28 17:00:00           -0.350518
2021-10-28 18:00:00           -0.031676
2021-10-28 19:00:00           -0.264277
2021-10-28 20:00:00            0.685840
2021-10-29 14:00:00            0.776865
2021-10-29 15:00:00            0.241562
2021-10-29 16:00:00            0.091629
2021-10-29 17:00:00            0.875232
2021-10-29 18:00:00           -0.469449
2021-10-29 19:00:00            0.354217
2021-10-29 20:00:00            1.240314
2021-11-01 14:00:00           -0.841486
2021-11-01 15:00:00            2.296756
2021-11-01 16:00:00            0.757828
2021-11-01 17:00:00            0.190653
2021-11-01 18:00:00           -0.455473
2021-11-01 19:00:00            2.059181
2021-11-01 20:00:00            1.550806
2021-11-02 14:00:00            3.952108
2021-11-02 15:00:00           -2.082436
2021-11-02 16:00:00           -1.228813
2021-11-02 17:00:00            0.299883
2021-11-02 18:00:00           -0.087912
2021-11-02 19:00:00            1.278729
2021-11-02 20:00:00           -0.690680
2021-11-03 14:00:00           -0.023659
2021-11-03 15:00:00           -0.779993
2021-11-03 16:00:00           -0.255258
2021-11-03 17:00:00            0.584363
2021-11-03 18:00:00           -0.244188
2021-11-03 19:00:00            2.017892
2021-11-03 20:00:00            1.313324
2021-11-04 14:00:00           -0.138821
2021-11-04 15:00:00           -0.415375
2021-11-04 16:00:00            0.905898
2021-11-04 17:00:00           -0.290539
2021-11-04 18:00:00           -0.016183
2021-11-04 19:00:00           -0.594017
2021-11-04 20:00:00            0.100121
2021-11-05 14:00:00            0.240224
2021-11-05 15:00:00           -0.150284
2021-11-05 16:00:00            0.426359
2021-11-05 17:00:00           -0.900542
2021-11-05 18:00:00            0.502862
2021-11-05 19:00:00           -0.657377
2021-11-05 20:00:00            0.031981

In [54]:
# Combine the data into a single dataset.
#dual_percent_df = pd.merge(spy_percent_df, tsla_percent_df, on=["date_UTC", "date_UTC"])
#dual_percent_df.head(5)

In [55]:
tweet_counts_df = tweet_counts_df.dropna()

In [56]:
tsla_percent_df = tsla_percent_df.dropna()

In [57]:
spy_percent_df = spy_percent_df.dropna()

In [58]:
dual_percent_df = pd.merge(spy_percent_df, tsla_percent_df, on= ["date_UTC"])
dual_percent_df.head(10)

                     Percent_Day_Change_x  Percent_Day_Change_y
date_UTC
2021-10-28 14:00:00              0.254443             -0.743708
2021-10-28 15:00:00              0.098449              0.949903
2021-10-28 16:00:00             -0.050272              0.517366
2021-10-28 17:00:00             -0.055763             -0.350518
2021-10-28 18:00:00              0.157529             -0.031676
2021-10-28 19:00:00             -0.117962             -0.264277
2021-10-28 20:00:00              0.225269              0.685840
2021-10-29 14:00:00              0.190843              0.776865
2021-10-29 15:00:00              0.282420              0.241562
2021-10-29 16:00:00              0.237971              0.091629

In [59]:
dual_percent_df.append(tweet_counts_df)

                     Percent_Day_Change_x  Percent_Day_Change_y  tweet_counts
date_UTC
2021-10-28 14:00:00              0.254443             -0.743708           NaN
2021-10-28 15:00:00              0.098449              0.949903           NaN
2021-10-28 16:00:00             -0.050272              0.517366           NaN
2021-10-28 17:00:00             -0.055763             -0.350518           NaN
2021-10-28 18:00:00              0.157529             -0.031676           NaN
...                                   ...                   ...           ...
2021-11-07 14:00:00                   NaN                   NaN          30.0
2021-11-07 15:00:00                   NaN                   NaN          57.0
2021-11-07 16:00:00                   NaN                   NaN          36.0
2021-11-07 17:00:00                   NaN                   NaN          27.0
2021-11-07 17:00:00                   NaN                   NaN           1.0

[218 rows x 3 columns]

In [60]:
all_df = dual_percent_df.append(tweet_counts_df)
all_df

                     Percent_Day_Change_x  Percent_Day_Change_y  tweet_counts
date_UTC
2021-10-28 14:00:00              0.254443             -0.743708           NaN
2021-10-28 15:00:00              0.098449              0.949903           NaN
2021-10-28 16:00:00             -0.050272              0.517366           NaN
2021-10-28 17:00:00             -0.055763             -0.350518           NaN
2021-10-28 18:00:00              0.157529             -0.031676           NaN
...                                   ...                   ...           ...
2021-11-07 14:00:00                   NaN                   NaN          30.0
2021-11-07 15:00:00                   NaN                   NaN          57.0
2021-11-07 16:00:00                   NaN                   NaN          36.0
2021-11-07 17:00:00                   NaN                   NaN          27.0
2021-11-07 17:00:00                   NaN                   NaN           1.0

[218 rows x 3 columns]

In [61]:
all_df.dropna(subset=['tweet_counts'])

                     Percent_Day_Change_x  Percent_Day_Change_y  tweet_counts
date_UTC
2021-10-31 18:00:00                   NaN                   NaN          22.0
2021-10-31 19:00:00                   NaN                   NaN          30.0
2021-10-31 20:00:00                   NaN                   NaN          16.0
2021-10-31 21:00:00                   NaN                   NaN          34.0
2021-10-31 22:00:00                   NaN                   NaN          93.0
...                                   ...                   ...           ...
2021-11-07 14:00:00                   NaN                   NaN          30.0
2021-11-07 15:00:00                   NaN                   NaN          57.0
2021-11-07 16:00:00                   NaN                   NaN          36.0
2021-11-07 17:00:00                   NaN                   NaN          27.0
2021-11-07 17:00:00                   NaN                   NaN           1.0

[169 rows x 3 columns]

In [62]:
all_df.dropna(subset=['Percent_Day_Change_y'])

                     Percent_Day_Change_x  Percent_Day_Change_y  tweet_counts
date_UTC
2021-10-28 14:00:00              0.254443             -0.743708           NaN
2021-10-28 15:00:00              0.098449              0.949903           NaN
2021-10-28 16:00:00             -0.050272              0.517366           NaN
2021-10-28 17:00:00             -0.055763             -0.350518           NaN
2021-10-28 18:00:00              0.157529             -0.031676           NaN
2021-10-28 19:00:00             -0.117962             -0.264277           NaN
2021-10-28 20:00:00              0.225269              0.685840           NaN
2021-10-29 14:00:00              0.190843              0.776865           NaN
2021-10-29 15:00:00              0.282420              0.241562           NaN
2021-10-29 16:00:00              0.237971              0.091629           NaN
2021-10-29 17:00:00             -0.063163              0.875232           NaN
2021-10-29 18:00:00             -0.224469             -0.469449           NaN
2021-10-29 19:00:00              0.016384              0.354217           NaN
2021-10-29 20:00:00              0.288274              1.240314           NaN
2021-11-01 14:00:00             -0.247726             -0.841486           NaN
2021-11-01 15:00:00              0.043573              2.296756           NaN
2021-11-01 16:00:00              0.096896              0.757828           NaN
2021-11-01 17:00:00             -0.093542              0.190653           NaN
2021-11-01 18:00:00             -0.137178             -0.455473           NaN
2021-11-01 19:00:00              0.170086              2.059181           NaN
2021-11-01 20:00:00              0.154558              1.550806           NaN
2021-11-02 14:00:00              0.217287              3.952108           NaN
2021-11-02 15:00:00              0.123587             -2.082436           NaN
2021-11-02 16:00:00             -0.011910             -1.228813           NaN
2021-11-02 17:00:00             -0.032494              0.299883           NaN
2021-11-02 18:00:00              0.001058             -0.087912           NaN
2021-11-02 19:00:00              0.076927              1.278729           NaN
2021-11-02 20:00:00              0.015160             -0.690680           NaN
2021-11-03 14:00:00             -0.008666             -0.023659           NaN
2021-11-03 15:00:00             -0.014093             -0.779993           NaN
2021-11-03 16:00:00              0.039028             -0.255258           NaN
2021-11-03 17:00:00             -0.018421              0.584363           NaN
2021-11-03 18:00:00              0.229790             -0.244188           NaN
2021-11-03 19:00:00              0.404186              2.017892           NaN
2021-11-03 20:00:00              0.105553              1.313324           NaN
2021-11-04 14:00:00              0.279358             -0.138821           NaN
2021-11-04 15:00:00             -0.289279             -0.415375           NaN
2021-11-04 16:00:00              0.132167              0.905898           NaN
2021-11-04 17:00:00              0.025752             -0.290539           NaN
2021-11-04 18:00:00             -0.004289             -0.016183           NaN
2021-11-04 19:00:00              0.000000             -0.594017           NaN
2021-11-04 20:00:00              0.190994              0.100121           NaN
2021-11-05 14:00:00              0.147034              0.240224           NaN
2021-11-05 15:00:00             -0.076604             -0.150284           NaN
2021-11-05 16:00:00             -0.021296              0.426359           NaN
2021-11-05 17:00:00             -0.545272             -0.900542           NaN
2021-11-05 18:00:00              0.366227              0.502862           NaN
2021-11-05 19:00:00             -0.078977             -0.657377           NaN
2021-11-05 20:00:00              0.049114              0.031981           NaN

In [63]:
from path import Path
import pandas as pd

In [64]:
data = Path('Resources/TSLA_stock_hist_hourly_2021_11_7.csv')
df = pd.read_csv(data)
df.head() 
#TSLA_stock_hist_df = pd.read_csv(Path('Resources/TSLA_stock_hist.csv'))
#TSLA_stock_hist_df.head()

,Unnamed: 0,Unnamed: 0.1,Open,High,Low,Close,Adj Close,Volume,Percent_Day_Change,date_UTC
0,0,2021-10-28 09:30:00-04:00,1068.305054,1081.000000,1055.209961,1060.359985,1060.359985,8788599,-0.743708,2021-10-28 14:00:00
1,1,2021-10-28 10:30:00-04:00,1060.180054,1077.464966,1058.890015,1070.250732,1070.250732,4857422,0.949903,2021-10-28 15:00:00
2,2,2021-10-28 11:30:00-04:00,1070.839844,1079.689941,1064.349976,1076.380005,1076.380005,3591916,0.517366,2021-10-28 16:00:00
3,3,2021-10-28 12:30:00-04:00,1076.949951,1079.649902,1066.000000,1073.175049,1073.175049,3328912,-0.350518,2021-10-28 17:00:00
4,4,2021-10-28 13:30:00-04:00,1073.250000,1074.030029,1067.589966,1072.910034,1072.910034,1543551,-0.031676,2021-10-28 18:00:00

In [65]:
y = df["Percent_Day_Change"]
X = df.drop(columns="Percent_Day_Change")

In [66]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [67]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [68]:
classifier.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [69]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

NameError: name 'X_test' is not defined

In [70]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

NameError: name 'y_test' is not defined